$fa-font-path:  '~font-awesome/fonts'; 

$green: #22A557;
$gris-fonce: #495057;
$blanc: #ffffff;
$black: #000;
$green-vert: #41ba57;
$white-clair:#f5f9f6;
$small-carousel-bg : #e6eaed;
$green-new: RGB(34, 165, 87);
$cream: RGB(238, 238, 228);
 
