$fa-font-path:  '~font-awesome/fonts'; 

$green: #22A557;
$gris-fonce: #495057;
$blanc: #ffffff;
$black: #000;
$green-vert: #41ba57;
$white-clair:#f5f9f6;
$background :linear-gradient(90deg, #48c6ef 0%,#6f86d6 85% );
 
