
.blog {
    
    .title-blog {
        text-align: center;
        background-color: $gris-fonce;
        padding-bottom: 0.6em; 
        margin-bottom: -0.1em;
    
        hr {
            width: 5.5em;
        }
    
        p {
            font-size: 1.3em;
            font-weight: bold;
            color: $green;
            }
    }
    

    .posts {
        background-color: $gris-fonce;
        padding: 0 2em 1em 2em;

        .post {
            margin-bottom: 1.5em;

            img {
                max-height: 190px; 
                width: 100%;

            }

            .text {
                background-color: $blanc;
                padding: 0.5em;

                h2 {
                    font-size: 0.9em;
                    font-weight: bold;
                }

                @media (min-width: 770px) {
                    a {
                        color: $green;
                        font-weight: bold;
                        font-size: 0.7em;
                    }
                
                    a:hover {
                        color: $green;
                    }
                                
                }
                @media (max-width: 770px) {
                    a {
                        display: none;
                    }
                }
            
                p {
                    font-size: 0.6em;
                }

                @media (min-width: 770px) {
                    button {
                        display: none;
                    }
                }
            }

        }
    }
}

