header {
    padding: 0.8em 0 0.8em 0.8em;
    
    display: flex;
    flex-wrap: wrap;
    background-color: $gris-fonce;
    width: 100%;

    .left {      
        
        .logo {
            @media (max-width: 500px) {               
            img {
                padding-top: 0.6em;
                width: 50px;
            }
            }
        

            @media (max-width: 770px) {
            span {
                display: none;
            }
            }
        }

        .nav-header {
            
            a {
                color: $blanc;
                font-size: 1em;
                font-weight: bold;
                padding-left: 0.5em; 
                margin-right: 0.5em;                         
            }
            a:hover{
                color: $green;
                text-decoration: none;
            }
        }
    }

    .user {
        display: flex;
        text-align: right;       
        margin: 1em 0.5em 0 1.5em;;
        
        input {
            font-size: 0.7em;
            width: 7em;
            height: 1.7em;
            padding-left: 0.3em;
        }
         i {
             font-size: 1.2em;
             color: $blanc;
             padding: 0 0.2em 0 0.2em;
         }
        i:hover{
            color: $green;
            text-decoration: none;
        }
    }

}

