
.product {
 
    .title-product {
        text-align: center;
        background-color: $blanc;
        padding-bottom: 0.6em; 
        margin-bottom: -0.1em;
    
        hr {
            width: 5.5em;
        }
    
        a {
            font-size: 1.3em;
            font-weight: bold;
            color: $green;
            }
    }
 

    .posts-product {
        background-color: $blanc;
        padding: 0 8em 8em 8em;
       
       

        .post-product {
            margin-bottom: 1.5em;
            height: auto; 
            box-shadow: 0 0 0.8em lighten($black, 40%);
           // border-radius: 10px;
            

            
            img {              
                max-height: 100%; 
                width: 100%; 
               // border-radius: 10px 10px 0 0 ;

            }

            .text {
                background-color: $blanc;
                padding: 0.5em;
                font-size: 1.2em;
                height: auto;
                background-color: $white-clair ;
                border-radius:  0 0 10px 10px;
                text-align: center;
                 

                h2 {
                    font-size: 0.9em;
                    font-weight: bold;
                }

                @media (min-width: 670px) {
                    a {
                        color: $green;
                        font-weight: bold;
                        font-size: 0.7em;
                    }
                
                    a:hover {
                        color: $green;
                    }
                                
                }
                @media (max-width: 670px) {
                    a {
                        display: none;
                    }
                }
            
                p {
                    font-size: 0.6em;
                }

                @media (min-width: 670px) {
                    button {
                        display: none;
                    }
                }
            }

        }
    }
}
@media (min-width: 670px) {
.posts-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .post-product {
        width: 30%;
        height: auto;
        

        img {
            height: auto; 
            width: 100%;

        }
 
    }
}
}
@media (min-width: 1080px) {
    .posts-product {
      //  display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        
       
    
        .post-product {
            width: 24%;
            height: auto;
            font-size: 1em;
         //  padding: 0  0  0 0.2em;
          
             

            img {
                height: auto; 
                width: 100%;
    
            }
 
        }
}
.product {
    
    .title-product {
    
        p {
            font-size: 2.1em;
            }
    }
}
}