.DS_Store
/node_modules/
/public
notes/
/vendor/
/wp/
wp-config.php
/content/*
!/content/plugins/
/content/plugins/*
!/content/plugins/onaturel
!/content/themes/
/content/themes/*
!/content/themes/onaturel
