    
.carousel-product {   

    background-color: $small-carousel-bg;
    /*width: 100vw;
    height: 40vh;
    //margin: 2em 0;
    padding: .9em; */

    /*.carousel-indicators--round li {
        border-radius: 10px;
        margin: 1px 3px;
        height: 10px;
        max-width: 10px;  

    }*/
}
