.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.1em 0 0.7em;

    .best-categories {
        img {            
            width: calc(50% - 10px);           
        }
    }

    .others-categories {
        img {
            width: calc(33.33% - 9px);
            height: 100%;
        }
    }
}